body {
    background-image: url(../images/index\ images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}





.highScoresbut {
    color: aliceblue;
    background-color: navy;

}