body {
    background-image: url(../images/javascript\ questions\ images/backgroundjs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    background-color: rgb(3, 113, 47);
}


.highScoresbut {
    color: aliceblue;
    background-color: navy;
}

.exitBut{
    color: white;
    background-color: rgb(1, 81, 1);
    width: 10vw;
    height: 2.5vw;
    margin-right: 2.5vw;
    margin-bottom: 2vw;
}




.startBut{
    color: black;
    background-color: rgb(4, 245, 4);
    width: 10vw;
    height: 2.5vw;
    margin-left: 2.5vw;
    margin-bottom: 2vw;
}

.clock {

    font-family: sans-serif;
    font-weight: 300;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.beginQuiz {
    height: 4vw;
    background-color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.3vw;
    color: white;
}

.ruleBox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: aliceblue;
    width: 44.7vw;
}
.questionBox,resultsScore,letsBegin
 {position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 44.7vw;
    height:25vw;
    box-shadow: 0 3px 10px 2px;
}

.choices button {
    display: block;
}

input[type="text"] {
    font-size: 100%;
}

ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
}



.wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
}

.hide {
    display: none;
}

.start {
    text-align: center;
}

.scores {
    position: absolute;
    top: 10px;
    left: 10px;
}

.feedback {
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: gray;
    border-top: 2px solid #ccc;
}
/* Button stylings, hover effect */
.btn {
    border: 3px solid hsl(200, 100%, 25%);
    border-radius: 5px;
    background-color: hsl(200, 100%, 50%);
    padding: 15px 20px;
    margin: 15px;
    color: white;
    font-size: large;
    width: 40%;
}

.btn.submit-btn {
    border-width: 2px;
    padding: 5px;
    font-size: medium;
    width: fit-content;
}

.btn:hover {
    background-color: hsl(200, 50%, 50%);
}
/* Correct answers revealed in green */
.btn.correct {
    background-color: hsl(120, 100%, 30%);
    border-color: hsl(120, 100%, 20%);
}
/* Incorrect answers revealed in red */
.btn.wrong {
    background-color: hsl(0, 100%, 30%);
    border-color: hsl(0, 100%, 20%);
}

/* Buttons arranged in column on xs devices */
@media screen and (max-width: 576px) {
    .btn {
        width: 80%;
        padding: 10px 15px;
        margin: 5px 10px;
    }
}

@media (max-width:750px) {
    .responsive-content {
        font-size: 1.5vw;
    }
}



@media (max-width: 1000px) {
    .responsive-content {
        font-size: 1.7vw;
    }
}