body {
background-image: url(../images/javascript\ questions\ images/backgroundjs.jpg);
background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    background-color: rgb(3, 113, 47);
}


.highScoresbut {
    color: aliceblue;
    background-color: navy;
}

.clock{
    
  font-family:  sans-serif;
  font-weight: 300;
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-top: 8vw;
  margin-bottom: 8vw;


}
.rules_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rules_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

@media (max-width:750px) {
    .responsive-content {
      font-size: 1.5vw;
    }
  }

    
  
  @media (max-width: 1000px) {
    .responsive-content {
      font-size: 1.7vw;
    }
  }
